.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1020;
  width: 100%;
  background-color: $color-white;

  svg {
    font-size: 1.25rem;
    margin-right: 0.5rem;
  }

  @media screen and (max-width: 992px) {
    width: calc(100% - 1rem);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: fixed;
    top: 0;
    box-shadow: 0 20px 50px -20px rgba(0, 0, 0, 0.1);
  }
}

.header-container {
  position: sticky;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  padding: 0.75rem 1rem;
  max-width: 100%;

  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }

  @media screen and (max-width: 1200px) {
    max-width: 960px;
  }

  @media screen and (max-width: 992px) {
    max-width: 720px;
  }

  @media screen and (max-width: 768px) {
    max-width: 540px;
  }


}


.header-top {
  background: transparent;
  margin: 0;
  padding: 1rem 1rem;
  color: #fff;
  /* animation */
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;


  @media screen and (max-width: 992px) {
    margin-left: 0;
    padding: 0;
  }

  .logo {
    margin-bottom: 0;
  }

  .logo--light {
    display: block;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .logo--dark {
    display: none;

    @media screen and (max-width: 992px) {
      display: block;
    }
  }

}

.header__logo {
  display: flex;
  flex-direction: row;
  justify-items: center;
  text-decoration: none;

  img {
    max-width: 196px;
    max-height: 60px;
  }


  @media screen and (max-width: 992px) {
    img {
      max-width: 98px;
      max-height: 30px;

    }
  }

  &--text {
    display: flex;
    align-items: center;
    margin-left: 12px;
    color: $color-body;
    font-size: 1.2rem;
    font-weight: 700;
  }
}


.header__inner {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;

  @media screen and (max-width: 992px) {
    padding: 10px;
    border-bottom: none;
    flex-direction: column;
  }
}


.header-nav {
  .btn--solid {
    a {
      color: $color-white;
    }
  }

  @media screen and (min-width:992px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
  }

  @media screen and (max-width: 1200px) {
    max-width: 960px;
  }

  @media screen and (max-width: 992px) {
    max-width: 720px;
  }

  @media screen and (max-width: 768px) {
    max-width: 540px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    li {
      position: relative;
    }
  }

  &__primary ul {
    justify-content: flex-end;


  }

  .header__primary.is-active {
    max-height: 26rem;
    overflow: hidden;

  }



  a {
    text-transform: uppercase;
    font-size: 0.8125rem;
    color: $color-dark;
    font-weight: 600;
    opacity: 1;
    transition: 0.2s;
    padding: 0.875rem 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 300ms ease-in-out;




    &:hover {
      color: $color-primary;
    }
  }

  @media screen and (max-width: 992px) {
    position: fixed;
    left: 50%;
    width: calc(100% - 1rem);
    top: 3.2rem;
    transform: translateX(-50%);

    .btn--solid {
      a {
        color: $color-primary;
      }

      background: none;
    }

    .header__primary {
      max-height: 0;
      overflow: hidden;
      flex-direction: column;
      background-color: $color-white;
      transition: 300ms ease-in-out;
      border-radius: 0 0 4px 4px;
    }

    a {
      text-transform: uppercase;
      font-size: 0.85rem;
      color: $color-primary;
      font-weight: 600;
      opacity: 1;
      transition: 0.2s;
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      border-top: 1px solid rgba($color-dark, 0.2);


      &:hover {
        opacity: 0.7;
        color: $color-primary;
      }
    }
  }

}


.admin-bar .header {
  top: 32px;

  @media screen and (max-width: 992px) {
    top: 46px;
  }
}




.toggle-menu {
  position: absolute;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  display: none;
  z-index: 2;

  .toggle-line {
    position: absolute;
    display: block;
    height: 2px;
    width: 1.2rem;
    background: $color-primary;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;

    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      background: $color-primary;
      height: 2px;
      width: 1.2rem;
    }

    &:before {
      top: -5px;
      transition: 200ms ease-in-out;
    }

    &:after {
      top: 5px;
      right: 0;
      transition: 200ms ease-in-out;
    }

    &:nth-of-type(2) {
      width: 1.2rem;
      top: 5px;
    }

    &:nth-of-type(3) {
      width: 1.2rem;
      top: 10px;
    }
  }

  @media screen and (max-width: 992px) {
    display: block;
  }

  &.is-active .toggle-line {
    transition: 200ms ease-in-out;
    background: transparent;

    &:before {
      transform: rotate(-45deg);
      width: 1.2rem;
      top: 0px;
      background: $color-primary;
    }

    &:after {
      width: 1.2rem;
      top: 0px;
      transform: rotate(45deg);
      background: $color-primary;
    }

  }
}

.sub-menu {
  flex-direction: column;
  display: none !important;
  background-color: $color-white;
  width: 200px;
  position: absolute;
  right: 0;
  border-top: 3px solid $color-primary;
  border-radius: 3px;
  z-index: 1;

  li:last-of-type {
    overflow: hidden;
    border-radius: 0 0 3px 3px;
  }

  a {
    color: $color-dark;
    opacity: 1;

    &:hover {
      color: $color-dark;
      background-color: $color-light;
    }
  }

  &.show {
    display: flex;
  }

  @media screen and (max-width: 992px) {
    position: relative;
    width: 100%;
    right: 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: -7px;
    right: 1rem;
    height: 10px;
    width: 10px;
    border-top: 5px solid $color-primary;
    border-left: 5px solid $color-primary;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: -1;
    transform: rotate(45deg);
    border-radius: 2px;
  }
}

.menu-item {
  &.btn {
    padding: 0;
    @media screen and (min-width: 992px) {
      margin-left: 1rem;
      padding: 0;
    }
  }
}

.menu-item:hover {
  .sub-menu {
    display: flex !important;
  }
}

.header-btn a {
  background: $color-primary;
  border-radius: 3px;

  &:hover {
    opacity: 1;
    background: darken($color-primary, 10%);
  }
}


.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  overflow: hidden;
  width: 100%;

  svg {
    float: right;
  }
}

#sub-header {
  pointer-events: all;
}

.image-container {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  height: 100%;

  .img {
    bottom: 0;
    position: absolute;
    pointer-events: none;
    //position: relative;
  }

  @media screen and (max-width: 767px) {
    position: relative;

    .img {
      position: relative;
    }
  }
}

.cls-6 {
  z-index: 5;
}
