.footer-cta {

  padding-top: 3rem;
  padding-bottom: 3rem;

  &__content {
    padding-bottom: 0;
  }
}

.pre-footer-image {
  display: flex;
  flex-direction: column;

  img {
    margin-bottom: 0;
    bottom: 0;
    position: relative;
  }
}
