.bg {

  &--none {
    background-color: transparent;
  }

  &--white {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include font-bold;
      color: $color-heading!important;
    }

    p {color: $color-body!important;}
  }

  &--light {
    background-color: $color-light;

    &.page-header--page {
      * {
        color: $color-dark !important;
      }
    }
  }

  &--dark {
    background-color: $color-dark;

    * {
      color: #fff;
    }
  }

  &--primary {
    background-color: $color-primary;

    * {
      color: #fff;
    }


    .btn--solid {
      background-color: darken($color-primary, 10%);
      color: #fff;

      &:hover {
        background-color: darken($color-primary, 20%);
      }

      &:focus {
        background-color: darken($color-primary, 20%);
        color: #fff;
        border: 0;
      }
    }

  }

}
