.flippable {
  display: flex;
  align-items: center;

  &__text {
    order: 1;
  }

  &__image {
    order: 2;

    @media screen and (max-width:576px) {
      margin-bottom: 30px;
    }
  }


  &--flip {
    .flippable__text {
      order: 2;
    }

    .flippable__image {
      order: 1;

    }



  }

  @media screen and (max-width:576px) {
    &__text {
      order: 2;
    }

    &__image {
      order: 1;
    }
  }
}


/**! 27. Image Blocks **/
.imageblock {
  position: relative;
  padding: 0;
}

.imageblock>.container,
.imageblock>div[class*='col-']:not(.imageblock__content) {
  padding-top: 7.42857143em;
  padding-bottom: 7.42857143em;
  float: none;
  overflow: hidden;
}

.imageblock.imageblock--lg>.container,
.imageblock.imageblock--lg>div[class*='col-']:not(.imageblock__content) {
  padding-top: 9.28571429em;
  padding-bottom: 9.28571429em;
  float: none;
  overflow: hidden;
}

.imageblock .imageblock__content {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 2;
  padding: 0;
}

.imageblock .imageblock__content .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.imageblock .imageblock__content .slider .slides>li {
  padding: 0;
  min-height: 100%;
  position: absolute !important;
}

.imageblock.allow-overflow .imageblock__content {
  overflow: visible;
}

@media all and (max-height: 728px) {

  .imageblock>.container,
  .imageblock>div[class*='col-']:not(.imageblock__content) {
    padding-top: 3.71428571em;
    padding-bottom: 3.71428571em;
  }
}

@media all and (max-width: 767px) {
  .imageblock[class*='space-'] {
    padding-bottom: 0;
    padding-top: 0;
  }

  .imageblock .imageblock__content {
    position: relative;
    min-height: 30rem;
  }

  .imageblock>.container,
  .imageblock>div[class*='col-']:not(.imageblock__content) {
    padding-top: 5.57142857em;
    padding-bottom: 5.57142857em;
    float: none;
    overflow: hidden;
  }

  .imageblock.imageblock--lg>.container,
  .imageblock.imageblock--lg>div[class*='col-']:not(.imageblock__content) {
    padding-top: 5.57142857em;
    padding-bottom: 5.57142857em;
    float: none;
    overflow: hidden;
  }
}


/**! 31. Switchable Sections **/
.switchable {
  position: relative;
}

.switchable div[class*='col-']:first-child {
  float: left;
  right: auto;
}

.switchable div[class*='col-']:first-child:not([class*='pull']):not([class*='push']) {
  left: 0;
}

.switchable div[class*='col-']:last-child {
  float: right;
  left: auto;
}

.switchable div[class*='col-']:last-child:not([class*='pull']):not([class*='push']) {
  right: 0;
}

.switchable.switchable--switch div[class*='col-']:first-child {
  float: right;
  right: 0;
  left: auto;
}

.switchable.switchable--switch div[class*='col-']:first-child:not([class*='pull']):not([class*='push']) {
  left: auto;
}

.switchable.switchable--switch div[class*='col-']:last-child {
  float: left;
  left: 0;
  right: auto;
}

.switchable .switchable__text {
  margin-top: 3.71428571em;
}

.switchable>div[class*='col-'] {
  padding: 0;
}
