.link {
  background: transparent;
  color: $primary;
  font-size: 0.825em;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    color: darken($primary, 10%);
  }

  &:focus {
    box-shadow: none;
  }
}

a {
  background: transparent;
  color: $primary;

  &:hover {
    color: darken($primary, 10%);
  }

  &:focus {
    box-shadow: none;
  }
}