.space-below {

  &--none {
    margin-bottom: 0;
  }

  &--sm {
    margin-bottom: 1.5rem;
  }

  &--md {
    margin-bottom: 3rem;
  }

  &--lg {
    margin-bottom: 6rem;
  }

  &--xlg {
    margin-bottom: 12rem;
  }

}
