* {
  text-decoration: none;
}

*:nth-last-child(1) {
  margin-bottom: 0;
}

.line {
  display: block;
}

.outerSpan {
  display: block;
  overflow: hidden;
}

.lipsum {
  overflow: hidden;

  span {
    display: block;
  }
}

body {
  @include font-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.75;
  margin-bottom: 1.25rem;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-bold;
  color: $color-heading;
}

.text-align-center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.5rem;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 0.875rem;
  line-height: 0.875rem;
  text-transform: uppercase;
  color: $color-primary !important;

}


.lead {
  font-size: 1.25rem;
  @include font-light;

  &.m-small {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.intro {
  font-size: 2rem;
  line-height: 1.4;
  @include font-light;
  color: $color-heading;
}

small,
.text_small {
  font-size: 0.8rem;
}

.footer-cta {
  h4 {
    @include font-light;
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 0;
  }
}


section {
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;

    li {
      padding-left: 1.5rem;
      margin-bottom: 0.5rem;
      position: relative;

      :last-of-type {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        position: absolute;
        height: 4px;
        width: 4px;
        background-color: $color-primary;
        border-radius: 0.5rem;
        left: 0.5rem;
        top: 0.6rem;
      }
    }
  }

  &.imagebg {

    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $color-white;
    }
  }
}

label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

input,
textarea {
  display: block;
  padding: 0.5rem !important;
  width: 100%;
  border: 1px solid #dbe0df !important;
  resize: none;

  &:focus {
    outline: none;
  }
}

.contact-form-button {
  display: inline;
  font-size: 0.875em !important;
  font-weight: 700;
  padding: 0.75rem 1rem !important;
  color: #fff !important;
  border-radius: 100px !important;
  width: auto;
  background-color: $color-dark !important;
}


.page-title,
h1 {
  font-size: 4.5rem;
  line-height: 1em;
  position: relative;
  z-index: 1;
  @include font-light;
  color: $color-heading;

  @media screen and (max-width:425px) {
    font-size: 2rem;
  }

  @media screen and (min-width: 425px) and (max-width:992px) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 992px) and (max-width: 1200px) {
    font-size: 3.5rem;
  }
}

blockquote {
  font-size: 1.5em;
  position: relative;

  &:before {
    content: '';
    border-left: 4px solid $color-heading;
    height: 100%;
    position: absolute;
    left: -1rem;
  }
}

p {
  margin-bottom: 0.5rem;
}

footer {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 0.25rem;
  margin-top: 0.5rem;
}
